<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="https://fonts.cdnfonts.com/css/cascadia-code" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/table.css">
	<link rel="stylesheet" href="styles/pagination.css">
	<link rel="stylesheet" href="styles/filters.css">
	<link rel="stylesheet" href="styles/graph.css">
	<script type="text/javascript" src="scripts/request.js"></script>
	<title>Visits</title>
</head>
<body>
	<div id="page">
		<div id="menu-bar">
			<h2 id="visits-title" class="title is-3">Users, Visits & Interactions</h2>
			<div id="table-toggle-container">
				<div id="table-toggle-label">Display Logs Table</div>
				<label class="table-toggle">
				    <input type="checkbox" id="table-toggle"/>
				    <span class="slider"></span>
				</label>
			</div>
		</div>
		<!-- <div id="sidebar">
			<a><div id="link-to-home"></div></a>
			<a><div id="link-to-features"></div></a>
			<a><div id="link-to-map-layers-components"></div></a>
			<a><div id="link-to-pathways"></div></a>
			<a><div id="link-to-comparisons"></div></a>
		</div> -->

		<div id="page-content">
			<div id="plot-space" class="fixed-grid has-9-cols">
				<div class="grid">
					<div class="cell is-col-span-5"><svg id="weekly-interactions"></svg></div>
					<div class="cell is-col-span-4"><svg id="monthly-interactions"></svg></div>
					<div class="cell is-col-span-5"><svg id="weekly-users"></svg></div>
					<div class="cell is-col-span-4"><svg id="monthly-users"></svg></div>
					<div class="cell is-col-span-5"><svg id="avg-session_length"></svg></div>
				</div>
			</div>
			<div id="table-space">
				<table id="table-element" class="has-9-cols table is-bordered"></table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="scripts/url.js"></script>
	<script type="text/javascript" src="scripts/types.js"></script>
	<script type="text/javascript" src="scripts/utils.js"></script>
	<script type="text/javascript" src="scripts/data.js"></script>
	<script type="text/javascript" src="scripts/graph.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>
