<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="scripts/visits/request.js"></script>
	<script type="text/javascript" src="scripts/visits/response.js"></script>
	<title>Visits</title>
</head>
<body>
	<h1>Number of Dashboard Interactions</h1>
	<div>
		<label for="start-date">Start Date:</label>
		<input type="date" id="start-date" name="start-date" min="2024-11-01" required />
	</div>
	<br>
	<div>
		<label for="end-date">End Date:</label>
		<input type="date" id="end-date" name="end-date" required />
	</div>
	<script type="text/javascript" src="scripts/visits/main.js"></script>
	<br>
	<input type="button" id="generate-logs-table" value="Generate Table">
	<script type="text/javascript" src="scripts/visits/events.js"></script>
	<script type="text/javascript" src="scripts/visits/event_listeners.js"></script>

</body>
</html>
