#weekly-interactions {
	width: 100%;
	height: 430px;
}

#monthly-interactions {
	width: 100%;
	height: 430px;
}

#weekly-users {
	width: 100%;
	height: 430px;
}

#monthly-users {
	width: 100%;
	height: 430px;
}

#avg-session_length {
	width: 100%;
	height: 430px;
}