/** {
	box-sizing: border-box;
	font-family: 'Cascadia Code', sans-serif;
	margin: 0px;
}*/

#menu-bar {
	background-color: #4F22D7;
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 10;
}

#visits-title {
	padding-top: 12px;
	text-align: center;
	color: white;
}

#table-space {
	position: absolute;
}

#plot-space {
	margin: auto;
	padding-top: 65px;
	width: 96%;
}

#table-space {
	top: 515px;
	left: 126px;
	height: 455px;
	width: 1670px;
	/*border: 5px dashed #000000;*/
}
