/** {
	box-sizing: border-box;
	font-family: 'Cascadia Code', sans-serif;
	margin: 0px;
}*/

#page {
	width: 1920px;
	height: 970px;
}

#menu-bar,#sidebar {
	background-color: #4F22D7;
}

#menu-bar {
	width: 1850px;
	height: 65px;
	position: fixed;
	z-index: 100;
	
}

#sidebar {
	width: 75px;
	height: 970px;
	position: absolute;
	top: 0px;
}

#visits-title {
	margin-top: 10px;
	text-align: center;
	color: white;
}

#plot-space,#table-space {
	position: absolute;
}

#plot-space {
	top: 65px;
	left: 75px;
	height: 450px;
	width: 1775px;
	border: 5px dashed #000000;
}

#table-space {
	top: 515px;
	left: 126px;
	height: 455px;
	width: 1670px;
	/*border: 5px dashed #000000;*/
}



/*
#env-container {
	position: absolute;
	top: 0px;
	left: 300px;
}

#country-container {
	position: absolute;
	top: 0px;
	left: 565px;
}

#end-selection {
	position: absolute;
	top: 20px;
	left: 830px;
}

#plot-space {
	position: absolute;
	top: 75px;
	left: 405px;	
	width: 78.1%;
	height: 1000px;
	border: 5px dashed #000000;
}

#graph {
	position: absolute;
	top: 15px;
	left: 450px;
	width: 40%;
	height: 400px;
	border: 5px dashed #000000;
}

.filter-dropdown {
	z-index: 500;
	margin-left: 2px;
}

#name-filter-button-container {
	position: absolute;
	top: 5px;
	left: 5px;
}

#name-filter-button {
	background-color: deepskyblue;
}

#name-filter-dropdown {
	background-color: deepskyblue;
	height: 150px;
	overflow-y: scroll;
}

#clienttype-filter-button-container {
	position: absolute;
	top: 5px;
	left: 60px;
}

#clienttype-filter-button {
	background-color: forestgreen;
}

#clienttype-filter-dropdown {
	background-color: forestgreen;	
}

#clientmodel-filter-button-container {
	position: absolute;
	top: 5px;
	left: 163px;
}

#clientmodel-filter-button {
	background-color: slategrey;
}

#clientmodel-filter-dropdown {
	background-color: slategrey;
	height: 100px;
	overflow-y: scroll;
}

#clientos-filter-button-container {
	position: absolute;
	top: 5px;
	left: 275px;
}

#clientos-filter-button {
	background-color: paleturquoise;
}

#clientos-filter-dropdown {
	background-color: paleturquoise;
	height: 150px;
	overflow-y: scroll;
}

#clientcity-filter-button-container {
	position: absolute;
	top: 5px;
	left: 363px;
}

#clientcity-filter-button {
	background-color: orangered;
}

#clientcity-filter-dropdown {
	background-color: orangered;
	height: 150px;
	overflow-y: scroll;
}

#clientstateorprovince-filter-button-container {
	position: absolute;
	top: 5px;
	left: 467px;
}

#clientstateorprovince-filter-button {
	background-color: sandybrown;
}

#clientstateorprovince-filter-dropdown {
	background-color: sandybrown;
	height: 150px;
	overflow-y: scroll;
}

#clientcountryorregion-filter-button-container {
	position: absolute;
	top: 5px;
	left: 656px;
}

#clientcountryorregion-filter-button {
	background-color: darkviolet;
}

#clientcountryorregion-filter-dropdown {
	background-color: darkviolet;
	height: 150px;
	overflow-y: scroll;
}

#clientbrowser-filter-button-container {
	position: absolute;
	top: 5px;
	left: 847px;
}

#clientbrowser-filter-button {
	background-color: beige;
}

#clientbrowser-filter-dropdown {
	background-color: beige;
	height: 150px;
	overflow-y: scroll;
}


/*#clienttype-filter-dropdown {
	position: absolute;
	left: 10px;
	top: 50px;
*/}


*/