#pagination {
	position: absolute;
	bottom: 5px;
	right: 4px;
	height: 35px;
	width: 35%;
}

#previous-page, #next-page {
	height: 100%;
	background-color: rgba(79,34,215,0.6);
	color: white;
}

#page-literal {
	position: absolute;
	left: 215px;
}

#current-page-indicator {
	position: absolute;
	left: 265px;
}

#of-literal {
	position: absolute;
	left: 315px;
}

#num-pages-indicator {
	position: absolute;
	left: 365px;
}

