#filter-bar {
	background-color: rgba(79,34,215,0.4);
	width: 100%;
	height: 12.25%;
	position: relative;
	top: -84.15%;
	border-radius: 5px 5px 0px 0px;
}

#add-filter-button {
	height: 90%;
	width: 80px;
	font-size: 18px;
	border: none;
	background-color: rgba(79,34,215,0.2);
	color: white;
	position: absolute;
	top: 2.25px;
	left: 2.5px;
	border-radius: 5px 0px 0px 0px;
}

td {
	white-space: nowrap;
}

table {
	width: 100%;
	position: relative;
	top: 50px;
	font-size: 0.95rem;
}

#filter-dropdown-component {
	position: absolute;
	top: 50px;
	left: 0px;
	height: 362px;
	width: 380px;
	backdrop-filter: blur(10px);
	background-color: rgba(79,34,215,0.3);
	overflow-y: scroll;
}

#pagination {
	position: relative;
	bottom: 6.25%;
	left: 65.25%;
	height: 10%;
	width: 35%;
}

#previous-page, #next-page {
	height: 100%;
	background-color: rgba(79,34,215,0.6);
	color: white;
}

#page-literal {
	position: absolute;
	left: 215px;
}

#current-page-indicator {
	position: absolute;
	left: 265px;
}

#of-literal {
	position: absolute;
	left: 315px;
}

#num-pages-indicator {
	position: absolute;
	left: 365px;
}

/*#time-filter-option {
	border: 1px dashed black;
}*/

#time-filter-name {
	font-size: 150%;
}

#time-filter-desc {
	font-size: 90%;
}

#time-filter-name,#time-filter-desc {
	margin-left: 2.5px;
}

/*#country-filter-option {
	border: 1px dashed black;
}*/

#country-filter-name {
	font-size: 150%;
	margin-left: -5px;
}

#country-filter-desc {
	font-size: 90%;
	text-align: left;
	margin-left: 2.5px;
}

/*#state-filter-option {
	border: 1px dashed black;
}*/

#state-filter-name {
	font-size: 150%;
}

#state-filter-desc {
	font-size: 90%;
	text-align: left;
	margin-left: 2.5px;
}

#state-filter-name,#state-filter-desc {
	margin-left: 2.5px;
}

/*#city-filter-option {
	border: 1px dashed black;
}*/

#city-filter-name {
	font-size: 150%;
	text-align: left;
	margin-left: 2.5px;
}

#city-filter-desc {
	font-size: 90%;
	text-align: left;
	margin-left: 2.5px;
}

#city-filter-name,#city-filter-desc {
	margin-left: 2.5px;
}

/*#os-filter-option {
	border: 1px dashed black;
}*/

#os-filter-name {
	font-size: 150%;
}

#os-filter-desc {
	font-size: 90%;
	text-align: left;
	margin-left: 2.5px;
}

#os-filter-name,#os-filter-desc {
	margin-left: 2.5px;
}

/*#browser-filter-option {
	border: 1px dashed black;
}*/

#browser-filter-name {
	font-size: 150%;
	text-align: left;
	margin-left: 2.5px;
}

#browser-filter-desc {
	font-size: 90%;
	text-align: left;
	margin-left: 2.5px;
}

#browser-filter-name,#browser-filter-desc {
	margin-left: 2.5px;
}

/*#model-filter-option {
	border: 1px dashed black;
}*/

#model-filter-name {
	font-size: 150%;
	text-align: left;
	margin-left: 2.5px;
}

#model-filter-desc {
	font-size: 90%;
	text-align: left;
	margin-left: 2.5px;
}

#model-filter-name,#model-filter-desc {
	margin-left: 2.5px;
}

#countries-filter-values,#states-filter-values,#cities-filter-values,#os-filter-values,#browsers-filter-values,#models-filter-values {
	position: absolute;
	top: 50px;
	left: 0px;
	height: 362px;
	width: 380px;
	backdrop-filter: blur(10px);
	background-color: rgba(79,34,215,0.3);
	overflow-y: scroll;
}

.country-filter-value,.state-filter-value,.city-filter-value,.os-filter-value,.browser-filter-value,.model-filter-value {
	margin-left: 2.5px;
	margin-right: 5px;
}